* {
    box-sizing: border-box;
}

html {
    /* base size for rem */
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;
}

/* text styling */

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

.name_title {
    height: 12vh;
    color: #37447E;
    font-size: 1.8em;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: end;
}

.job_title {
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #37447E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: end;
    text-align: center;
}

.quote {
    display: grid;
    flex-direction: column;
    width: 75vw;
    font-style: italic;
}

.quote_left {
    color: #37447E;
    width: 100%;
    height: 8vh;
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: 0.4rem;
}

.quote_right {
    color: #37447E;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 8vh;
    font-weight: 300;
    font-size: 1.4em;
}

.mix_end {
    color: #37447E;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 1rem;
}

li {
    font-family: 'Roboto', sans-serif;
    list-style-type: disc;
    margin-top: 0.4rem;
    margin-left: 4rem;
    font-size: 1.2rem;

}

.i_make {
    margin-top: 3rem;
    font-weight: 300;
    font-size: 1.6rem;
    font-weight: 400;
    color: #37447E;
}

.mix_end {
    margin-top: 1.4rem;
    font-weight: 400;

}

.main_work_margin {
    font-weight: 1000;
}

/* social_links */

.social_links_computer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    z-index: 1;
}

.social_links_computer img {
    width: 3.5em;
    margin: 0.8em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social_links_computer img:hover {
    transform: scale(1.15);
}

/* logo_page */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 0;
}

.logo_page {
    border-bottom: solid 5px #37447E;
    position: relative;
}

.logo_page::after {
    content: '';
    /* Necessary for the pseudo-element to be generated */
    position: absolute;
    right: 6.8rem;
    /* Position the line 7.1rem from the right edge */
    top: 0;
    /* Align the top of the line with the top of the section */
    bottom: 0;
    /* Stretch the line to the bottom of the section */
    width: 5px;
    /* Width of the line; adjust as needed */
    background-color: #37447e;
    /* Color of the line; adjust as needed */
}

.logo_container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.sketch {
    margin-left: 2rem;
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
}

/* make the logo animation responsive */
.p5Canvas {
    width: 18.75rem !important;
    height: 6.25rem !important;
    margin-right: 1rem;
}

.logo_container h1 {
    margin: 0;
}

.logo_image {
    width: 20rem;
    flex-direction: row;
    align-self: center;
}

h1 {
    color: #37447E;
    font-size: 6rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.button_container {
    display: flex;
    align-items: end;
    height: 20%;
    animation: blink 2s infinite;
}

.button_container:hover {
    animation: none;
}

.button_container button {
    border: 0.25rem solid #37447e;
    background-color: #fff;
    color: #37447e;
    font-size: 2rem;
    margin: 0.2rem;
    border-radius: 50px;
    cursor: pointer;
}

.button_container button:hover {

    background-color: #37447e;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

/* about_me */

.about_me {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-top: solid 5px #37447E;
}

.about_me::after {
    content: '';
    position: absolute;
    right: 6.8rem;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #37447e;
}

.about_me_container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin: 0 5%;
    width: 90%;
}

.about_me_section {
    margin: 0 8rem;
    font-size: 2rem;
    text-align: left;
    color: #fff;
    line-height: 2rem;
}

.about_me_image {
    margin-top: 3vh;
    margin-bottom: 5vh;
    width: 20rem;
    border-radius: 100%;
}

/* my_mixes */

.my_mixes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.my_mixes::after {
    content: '';
    position: absolute;
    right: 6.8rem;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #37447e;
}

.my_mixes_title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    height: 10%;
    color: #37447e;
}

.my_mixes_playlist_main {
    display: flex;
    font-size: 2rem;
    height: 75%;

}

.my_mixes_playlists_selectors {
    display: flex;
    font-size: 2rem;
    height: 25%;
    align-items: center;
    margin: 3rem;
}

.my_mixes_playlists_selectors img {
    width: 4rem;
    margin: 0 3rem;
    margin-top: 1.5rem;
    transition: transform 1s ease;
    cursor: pointer;

}

.my_mixes_playlists_selectors img:hover {
    transform: translateY(-1.25rem);
    border-radius: 50px;
}


.selector_active {
    transform: translateY(-1.25rem);
}

/* FAQ */

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #37447e;
    position: relative;
}

.faq::after {
    content: '';
    position: absolute;
    right: 6.8rem;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #ffffff;
}

.faq_title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #fff;
}

.faq_container {
    width: 80%;
    height: 100%;
    margin-bottom: 2rem;
}

.faq_q {
    margin: 1rem 0;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.faq_question {
    margin: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #37447E;
}

.faq_answer {
    margin: 1rem;
    margin-top: 0rem;
    font-weight: 500;
    font-size: 1.6rem;
    font-weight: 400;
    color: #37447E;
    font-weight: normal;

}

/* main_video */

.main_video_slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #37447e;
    position: relative;
}

.main_video_slide::after {
    content: '';
    position: absolute;
    right: 6.8rem;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #ffffff;
}

.main_video_info {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    height: 100%;
}

.main_video_slide_text_title {
    margin-top: 2%;
    color: white;
}

.main_video_slide_text_first_p {
    margin: 4%;
    color: white;
}

.main_video_slide_text_second_p {
    margin: 4%;
    color: white;
}

.main_video_slide_text_third_p {
    margin: 4%;
    color: white;
}

.main_video_slide_text {
    width: 60%;
    line-height: 30px;
}

.main_video {
    width: 35%;
    justify-content: center;
    margin: 2rem 0;
}

.main_video_ru {
    display: flex;
}

.main_video_en {
    display: none;
}

.main_video iframe {
    margin-left: 3rem;
    width: 20rem;
    border-radius: 10px;
}

.main_video_slide_text_ru {
    width: 50%;
}

.main_video_slide_text_en {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

/* contact_me */

.contact_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

.contact_me::after {
    content: '';
    position: absolute;
    right: 6.8rem;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #37447e;
}

.contact_me_title {
    margin: 3rem 0;
    color: #37447E;
    height: 10%;
}

.contact_form_container {
    width: 60%;
    background-color: #37447E;
    border-radius: 10px;
    margin-bottom: 6rem;
}

.contact_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.input {
    margin: 1rem;
    border-radius: 10px;
    height: 3rem;
    border: 0px;
    cursor: pointer;
}

.input[type=text] {
    color: #37447E;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0.6rem;
    font-family: 'Roboto', sans-serif;
}

.input:focus::placeholder {
    transition-duration: 0.6s;
    opacity: 0;
    transform: translateX(10%);
}

.input::placeholder {
    color: #37447E;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.6s;
    opacity: 100;
    transform: translateX(0%);
}

.message {
    margin: 1rem;
    border-radius: 10px;
    height: 12rem;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
}

.message:focus::placeholder {
    transition-duration: 0.6s;
    opacity: 0;
    transform: translateX(10%);
}

.message[type=text] {
    color: #37447E;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0.6rem;
    font-family: 'Roboto', sans-serif;
}

.message::placeholder {
    border: 0px;
    color: #37447E;
    font-weight: bold;
    font-style: normal;
    font-size: 1.4rem;
    padding-top: 0.2rem;
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.6s;
    opacity: 100;
    transform: translateX(0%);
}

.send_container {
    display: flex;
    margin: 1rem;
}

.button {
    height: 4rem;
    border-radius: 10px;
    background-color: #fff;
    border: 0px;
    cursor: pointer;
}

.button_text {
    transition-duration: 0.6s;
    color: #37447E;
    font-size: 2.6rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0 1rem;
}

.button_text:hover {
    transition-duration: 0.6s;
    transform: scale(1.1);
}

.button_area {
    background-color: #fff;
    width: 100%;
    margin-left: 2rem;
    border-radius: 10px;
    height: 4rem;
}

.social_links_mobile {
    flex-direction: row;
    transform: translateY(-50%);
    z-index: 1;
    display: none;
}

.social_links_mobile img {
    width: 3.5rem;
    margin: 0.8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social_links_mobile img:hover {
    transform: scale(1.15);
}

/* footer */

.footer_page_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    border-top: solid 5px #37447E;
}

.footer_page_certificates_mobile {
    display: none;
    width: 100%;
    height: 75%;
}

.footer_page_logo {
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: small;
    width: 26rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.footer_logo_part1 {
    font-size: 3rem;
    margin-right: 2rem;
}

.footer_logo_part2 {
    font-size: 3rem;
}

.footer_developer {
    color: #37447e;
}

.footer_developer a {
    text-decoration: none;
}

.footer_developer a h3 {
    color: #37447e;
    margin-bottom: 0.8rem;
    line-height: 1.2;
    font-size: 2.5rem;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
}

.footer_page_certificates {
    display: inline-block;
    margin: 1rem 3rem;
    display: flex;
}

.footer_page_certificates a {
    text-decoration: none;
}

.img_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
}

.img_figure_caption {
    font-family: 'Roboto', sans-serif;
    color: #37447e;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2;
}

.hover_zoom {
    width: 4rem;
    align-self: center;
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}


.hover_zoom:hover {
    transform: scale(7) translateX(-50%) translateY(-40%);
    cursor: pointer;
}

/* animation */

.animationUp {
    position: relative;
    transform: translateY(7.5rem);
    opacity: 0;
    transition: 1s all ease;
}

.animationUp.active {
    transform: translateY(0);
    opacity: 1;
}

.animationBackgroundColor {
    transition: 2s all ease;
    background-color: #fff;
}

.animationBackgroundColor.active {
    background-color: #000000;
}

.playlist {
    width: 56.25rem;
    display: none;
}

.playlist_sides {
    display: block;
    z-index: -10;
}

.playlist.active {
    display: block;
}

.playlist-selector-active {
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeOutUp {
    animation: fadeOutUp 0.5s forwards;
}

.fadeInUp {
    animation: fadeInUp 0.5s forwards;
}


/* scrolbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #37447E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* media queries */

@media screen and (max-width: 1300px) and (orientation: portrait) {

    .footer_page_certificates {
        display: none;
    }

    .footer_page_certificates_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_developer a h3 {
        margin-right: 1rem;
    }

    .footer_page {
        display: flex;
        flex-direction: column;
    }

    .hover_zoom {
        margin: 4rem;
        margin-top: 5rem;
        width: 16rem;
        margin-bottom: 1rem;
    }

    .hover_zoom:hover {
        transform: scale(1) translateX(0) translateY(0);
        cursor: pointer;
    }

    .img_figure_caption {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1170px) and (orientation: portrait) {
    html {
        font-size: 14px;
    }

    .about_me_section {
        margin: 0 4rem;
    }

    .my_mixes_playlists_selectors img {
        width: 64px;
    }
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    .social_links_computer {
        display: none;
    }

    .logo_page::after {
        content: none;
    }

    .about_me::after {
        content: none;
    }

    .main_video_slide::after {
        content: none;
    }

    .my_mixes::after {
        content: none;
    }

    .faq::after {
        content: none;
    }
    .contact_me::after {
        content: none;
    }

    .contact_form_container{
        width: 80%;
    }

    .social_links_mobile {
        display: flex;
    }

    .social_links_mobile img {
        width: 5rem;
        margin: 2rem;
    }

    .main_video {
        width: 45%;
    }

    .contact-form {
        height: 25%;
        width: 60%;
    }

    .input-container label {
        font-size: 1.6rem;
    }

    .main_video_slide_text_en {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 960px) and (orientation: portrait) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    html {
        font-size: 10px;
    }

    .main_video_slide_text_ru {
        display: none;
    }

    .main_video {
        width: 100%;
    }

    .main_video_ru {
        width: 100%;
    }

    .main_video iframe {
        width: 30rem;
        margin: 0;
    }

    .footer_page_certificates {
        display: none;
    }

    .my_mixes_playlist_main {
        width: 80%;
        justify-content: center;
    }

    .about_me_container {
        flex-direction: column;
    }

    .about_me_image {
        margin-left: 0;
        margin-top: 8rem;
        margin-bottom: 4rem;
        width: 25rem;
    }

    .contact-form {
        width: 80%;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    html {
        font-size: 10px;
    }

    .my_mixes_playlists_selectors img {
        width: 58px;
    }

    .footer_page_certificates_mobile {
        flex-direction: column;
    }

    .footer_page_certificates_mobile {
        height: 95%;
    }

    .footer_developer {
        text-align: right;
    }

    .hover_zoom {
        margin-top: 3rem;
    }

    .about_me_section {
        margin: 0;
    }

    .about_me_image {
        margin-top: 4rem;
    }


    .contact-form {
        margin-top: 10rem;
        width: 90%;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    html {
        font-size: 8px;
    }

    iframe {
        height: 40rem;
    }

    #video {
        height: 35rem;
    }

    .contact-form {
        height: 100%;
    }

}


@media screen and (max-width: 380px) and (max-height: 670px) and (orientation: portrait) {

    .about_me_image {
        width: 15rem;
        margin-top: 2rem;
    }

    .my_mixes_playlists_selectors {
        margin-top: 5rem;
    }

    .social_links_mobile {
        margin-top: 25rem;
    }

    .my_mixes_title {
        margin-top: 5rem;
    }

    .main_video iframe {
        height: 450px;
    }
}